<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>servletstraining</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>rnr.servlets.training.listeners.MyContextListener</listener-class>
  </listener>
  <context-param>
    <param-name>config</param-name>
    <param-value>DEVELOPMENT</param-value>
  </context-param>
  <servlet>
    <servlet-name>Starting</servlet-name>
    <servlet-class>rnr.servlets.training.servlets.StartingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Starting</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>TagConversionServlet</servlet-name>
    <servlet-class>rnr.servlets.training.servlets.TagConversionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TagConversionServlet</servlet-name>
    <url-pattern>/Convertir</url-pattern>
  </servlet-mapping>
 
</web-app>